@using Microsoft.AspNetCore.Http;

@*Christopher Reed & Johnathan Deavers - 02/19/2023*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reed_Deavers_Lab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reed_Lab1.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
        body {background-color: floralwhite}
        nav {background-color: rebeccapurple}
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-purple border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white-50" asp-area="" asp-page="/Index">Reed_Deavers_Lab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @{
                            if (Context.Session.GetString("type") == "student")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Schedule</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/FindInstructor">Meeting</a></li>
                                        <li><a class="dropdown-item" href="/Summary">Office Hours Visit</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/StudentInfo">Your Meetings</a></li>
                                        <li><a class="dropdown-item" href="/OfficeHourQueue/SummaryChoose">Office Hours Queue</a></li>
                                        <li><a class="dropdown-item" href="/OfficeHourQueue/Notifs">Inbox</a></li>
                                    </ul>
                                </li>
                            }
                            else if (Context.Session.GetString("type") == "Instructor")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown toggle text-white" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/InstructorInfo">Student Meetings</a></li>
                                        <li><a class="dropdown-item" href="/OfficeHourQueue/InstructorQueue">View Queue</a></li>
                                    </ul>
                                </li>
                            }
                        }
                            </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Reed_Lab1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>